@model Category
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form method="post" asp-action="Create">
    <label asp-for="Titlle">Tytuł</label>
    <input asp-for="Titlle" /> 
    <span asp-validation-for="Titlle" class="text-danger"></span><br />

    <label asp-for="Description">Opis</label>
    <input asp-for="Description" /> 
    <span asp-validation-for="Description" class="text-danger"></span><br />

    <label asp-for="Checked">Sprawdzony</label>
    <input asp-for="Checked" /> 
    <span asp-validation-for="Checked" class="text-danger"></span><br />

    <select asp-for="Group" asp-items="Html.GetEnumSelectList<Group>()"></select> 
    <span asp-validation-for="Group" class="text-danger"></span><br />

    <button type="submit">Wyślij</button>

</form>